@model IEnumerable<ROMProjetos.Controllers.ProjetosDoColaboradorViewModel>
@{
    ViewBag.Title = "Atividades e Colaboradores";
}

<h2>Atividades e Colaboradores</h2>

@foreach (var projetoDoColaborador in Model)
{
    
    <h3 style="margin-bottom: -15px;">@projetoDoColaborador.Colaborador.Nome</h3>
       
    <table class="table table-striped table-condensed">
        <tr>
            <th style="width: 20%">Projeto</th>
            <th style="width: 30%">Título</th>
            <th>Criada</th>
            <th>Entrega</th>
            <th>Peso</th>
            <th style="width: 8%">Prioridade</th>
            <th style="width: 8%">Status</th>
        </tr>
        @foreach (var projeto in projetoDoColaborador.Projetos)
        {
            foreach (var tarefa in projeto.Tarefas)
            {
            <tr>
                <td><a href="@Url.Action("Detalhes","Projeto",new{id= projeto.Id})">@projeto.Nome</a></td>
                <td><a href="@Url.Action("Detalhes","Tarefa", new{id=tarefa.Id})">@tarefa.Titulo</a></td>
                
                <td>@tarefa.CriadaEm.ToShortDateString()</td>

                @{
                var urgente = (tarefa.EntregarAte <= DateTime.Now) ? "label label-important" : null;
                var proximo = (DateTime.Now.AddDays(3) >= tarefa.EntregarAte) ? "label label-warning" : null;
                var alerta = urgente ?? proximo ?? "";
                }
                <td><span class="@alerta" style="margin: -2px">@tarefa.EntregarAte.ToShortDateString()</span></td>

                <td>@tarefa.Peso</td>
                <td>@tarefa.Prioridade.Nome</td>
                <td>@tarefa.Status.Nome</td>
            </tr>
            }
        }
    </table>
}

