@using ROMProjetos.Models
@model ROMProjetos.Models.Tarefa

@{
    ViewBag.Title = "Detalhes";
    var projeto = ViewBag.projeto as Projeto;
}

<h2>@projeto.Nome <small>@projeto.Interessado</small></h2>

<fieldset>
    <legend>Tarefa</legend>

    <div class="muted">
        @Html.DisplayNameFor(model => model.Titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titulo)
    </div>

    <div class="muted">
        @Html.DisplayNameFor(model => model.Peso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Peso)
    </div>

    <div class="muted">
        @Html.DisplayNameFor(model => model.Descricao)
    </div>
    <div class="display-field" style="white-space: pre-line">
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <div class="muted">
        @Html.DisplayNameFor(model => model.CriadaEm)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CriadaEm)
    </div>

    <div class="muted">
        @Html.DisplayNameFor(model => model.EntregarAte)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EntregarAte)
    </div>

    <div class="muted">
        @Html.DisplayNameFor(model => model.Prioridade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Prioridade.Nome)
    </div>

    <div class="muted">
        @Html.DisplayNameFor(model => model.TipoTarefa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoTarefa.Nome)
    </div>

    <div class="muted">
        @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field" id="status">
        @Html.DisplayFor(model => model.Status.Nome)
    </div>
</fieldset>
<div class="form-actions">
    <a href="@Url.Action("Index", "Tarefa", new { idProjeto = projeto.Id })" class="btn btn-success btn-small">Lista de Tarefas</a>

    <div class="btn-group">
        <a class="btn btn-primary dropdown-toggle btn-small" data-toggle="dropdown" href="#">Workflow<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                @Ajax.ActionLink("Aberta", "AlterarStatus", "Tarefa", new { Id = Model.Id, Status = "aberta" }, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "sucesso", OnFailure = "erro" })
            </li>
            <li>
                @Ajax.ActionLink("Sendo Feita", "AlterarStatus", "Tarefa", new { Id = Model.Id, Status = "sendofeita" }, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "sucesso", OnFailure = "erro" })
            </li>
            <li>
                @Ajax.ActionLink("Concluída", "AlterarStatus", "Tarefa", new { Id = Model.Id, Status = "concluida" }, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "sucesso", OnFailure = "erro" })
            </li>
            <li>
                @Ajax.ActionLink("Cancelada", "AlterarStatus", "Tarefa", new { Id = Model.Id, Status = "cancelada" }, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "sucesso", OnFailure = "erro" })
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">

    function sucesso(tarefa) {
        console.log(tarefa);
        $('#status').text(tarefa.Status.Nome);
    }

    function erro(response) {
        console.log(response);
    }
</script>

