@using ROMProjetos.Models
@using ROMProjetos.Helpers;
@model ROMProjetos.Models.Tarefa

@{
    ViewBag.Title = "Detalhes";
    var projeto = ViewBag.projeto as Projeto;
}

@section titulo{
    <!-- Page heading -->
    <div class="page-head">
        <!-- Page heading -->
        <h2 class="pull-left">@projeto.Nome
            <!-- page meta -->
            <span class="page-meta">@projeto.Interessado</span>
        </h2>


        <!-- Breadcrumb -->
        <div class="bread-crumb pull-right">
            <a href="~/"><i class="icon-home"></i>Dashboard</a>
            <span class="divider">/</span>
            <a href="@Url.Action("Detalhes", "Projeto", new { id = projeto.Id })"><i class="icon-file-alt"></i>@projeto.Nome</a>
            <span class="divider">/</span>
            <a href="@Url.Action("Index", "Tarefa", new { idProjeto = projeto.Id })" class="bread-current">Tarefas</a>


        </div>

        <div class="clearfix"></div>

    </div>
    <!-- Page heading ends -->
}



<div class="row-fluid">

    <div class="span8">

        <div class="widget wviolet">
            <div class="widget-head">
                <div class="pull-left">@Html.DisplayFor(model => model.Titulo)</div>
                <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="widget-content">
                <div class="padd">
                    <!-- dados da tarefa -->
                    <p style="white-space: pre-line">@Html.DisplayFor(model => model.Descricao)</p>
                </div>
            </div>
            <div class="widget-foot">
                Dias restantes : 205
            </div>
        </div>

        <div class="widget wblue">
            <div class="widget-head">
                <div class="pull-left">Comentários</div>
                <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="widget-content">
                <div class="padd">
                    <ul class="chats">
                        @foreach (var thread in Model.Thread)
                        {
                            <li class="by-me">
                                <div class="avatar pull-left">
                                    <img src="img/user.jpg" alt="">
                                </div>

                                <div class="chat-content">
                                    <div class="chat-meta">@thread.Colaborador.Nome<span class="pull-right">@thread.Data.ToLongDateString() as @thread.Data.ToShortTimeString()</span></div>
                                    @{
                            var texto = "";
                            if (thread.GetType() == typeof(LogTarefa))
                            {
                                texto = String.Format("<ul><li>Alterado o status para <strong>{0}</strong></li></ul> {1}", ((LogTarefa)thread).Status.Nome, ((LogTarefa)thread).Mensagem);
                            }
                            else if (thread.GetType() == typeof(Comentario))
                            {
                                texto = ((Comentario)thread).Mensagem;
                            }
                                    }

                                    @Html.Raw(texto)
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </li>
                        }

                    </ul>
                </div>
            </div>
            <div class="widget-foot">

                <!-- Chat input box -->
                @using (Html.BeginForm("PostarMensagem", "Tarefa", FormMethod.Post, new { @class = "form-inline" }))
                {
                    <div class="input-append row-fluid">
                        @Html.Hidden("id", Model.Id)
                        <input type="text" id="mensagem" name="mensagem" class="span10" placeholder="Digite sua mensagem">
                        <button type="submit" class="btn btn-info">Enviar</button>
                    </div>
                 
                }
            </div>
        </div>

    </div>

    <!-- tarefa sidebar -->

    <div class="span4">

        <div class="widget wgreen">
            <div class="widget-head">
                <div class="pull-left">Detalhes</div>
                <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="widget-content">
                <div class="padd">

                    @Html.DisplayNameFor(model => model.Status): <strong id="status">@Html.DisplayFor(model => model.Status.Nome)</strong>
                    <hr />
                    @Html.DisplayNameFor(model => model.Peso): <strong>@Html.DisplayFor(model => model.Peso)</strong>
                    <hr />
                    @Html.DisplayNameFor(model => model.CriadaEm): <strong>@Html.DisplayFor(model => model.CriadaEm)</strong>
                    <hr />
                    @Html.DisplayNameFor(model => model.Autor): <strong>@Html.DisplayFor(model => model.Autor.Nome)</strong>
                    <hr />
                    @Html.DisplayNameFor(model => model.EntregarAte): <strong>@Html.DisplayFor(model => model.EntregarAte)</strong>
                    <hr />
                    @Html.DisplayNameFor(model => model.Prioridade): @Html.PrioridadeDaTarefa(Model.Prioridade.Nome) <strong>@Html.DisplayFor(model => model.Prioridade.Nome)</strong>
                    <hr />
                    @Html.DisplayNameFor(model => model.TipoTarefa): <strong>@Html.DisplayFor(model => model.TipoTarefa.Nome)</strong>

                </div>
            </div>
            <div class="widget-foot">

                @if (Model.Status.Chave == "concluida" || Model.Status.Chave == "cancelada")
                {
                    <a href="#myModal" class="open-Dialog btn" data-toggle="modal" data-id="@Model.Id" data-status="Reabrir" data-value="aberta">Reabrir</a>
                }
                else
                {
                    <a href="#myModal" class="open-Dialog btn" data-toggle="modal" data-id="@Model.Id" data-status="Concluir" data-value="concluida">Concluir</a>
                    <a href="#myModal" class="open-Dialog btn btn-danger" data-toggle="modal" data-id="@Model.Id" data-status="Cancelar" data-value="cancelada">Cancelar</a>
                }

                <div class="btn-group">
                    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">Workflow<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#myModal" class="open-Dialog" data-toggle="modal" data-id="@Model.Id" data-status="Aberta" data-value="aberta">Reabrir</a>
                        </li>
                        <li>
                            <a href="#myModal" class="open-Dialog" data-toggle="modal" data-id="@Model.Id" data-status="Sendo Feita" data-value="sendofeita">Sendo Feita</a>
                        </li>
                        <li>
                            <a href="#myModal" class="open-Dialog" data-toggle="modal" data-id="@Model.Id" data-status="Concluída" data-value="concluida">Concluída</a>
                        </li>
                        <li>
                            <a href="#myModal" class="open-Dialog" data-toggle="modal" data-id="@Model.Id" data-status="Cancelar" data-value="cancelar">Cancelar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"></h3>
        </div>
        @using (Ajax.BeginForm("AlterarStatusForm", "Tarefa", new AjaxOptions
        {
            UpdateTargetId = "targetDiv",
            OnSuccess = "OnSuccess",
            HttpMethod = "POST"
        }))
        {
            <div class="modal-body">
                <div class="control-group">
                    <div id="targetDiv"></div>
                    <label class="control-label">Comentário</label>
                    <div class="controls">
                        <textarea id="statusComentario" name="statusComentario" class="span4"></textarea>
                    </div>
                </div>
                <input type="hidden" name="statusId" id="statusId" value="" />
                <input type="hidden" name="statusValue" id="statusValue" value="" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Salvar</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
        }
    </div>

</div>



@section scripts
{
    <script type="text/javascript">
        $(document).on("click", ".open-Dialog", function () {
            var statusId = $(this).data('id');
            var statusNome = $(this).data('status');
            var statusValue = $(this).data('value');
            $(".modal-body #statusId").val(statusId);
            $(".modal-body #statusValue").val(statusValue);
            $(".modal-header #myModalLabel").text(statusNome + " tarefa");
            $("#statusComentario").val("");
        });
    </script>
}


<script type="text/javascript">
    function OnSuccess() {
        //muito feio isso daqui
        $('#myModal').modal('hide');
        location.reload();
    }

    function sucesso(tarefa) {
        console.log(tarefa);
        $('#status').text(tarefa.Status.Nome);
    }

    function erro(response) {
        console.log(response);
    }
</script>

