@using ROMProjetos.Controllers
@model ROMProjetos.Models.Colaborador

@{
    ViewBag.Title = "Detalhes";
}

<h2>Colaboradores <small>equipe</small></h2>

<p>
    @Html.ActionLink("Lista de Colaboradores", "Index", null, new { @Class = "btn btn-primary btn-small" })
</p>


<fieldset>
    <legend>@Html.DisplayFor(model => model.Nome)</legend>
    <div class="muted">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
</fieldset>

@{
    var projetoDoColaborador = ViewBag.listaDeProjetos as ProjetosDoColaboradorViewModel;
}

<h3 style="margin-bottom: -15px;">Lista de Tarefas</h3>

<table class="table table-striped table-condensed">
    <tr>
        <th style="width: 20%">Projeto</th>
        <th style="width: 30%">Título</th>
        <th>Criada</th>
        <th>Entrega</th>
        <th>Peso</th>
        <th>Prioridade</th>
    </tr>
    @foreach (var projeto in projetoDoColaborador.Projetos)
    {
        foreach (var tarefa in projeto.Tarefas)
        {
        <tr>
            <td><a href="@Url.Action("Detalhes", "Projeto", new { id = projeto.Id })">@projeto.Nome</a></td>
            <td><a href="@Url.Action("Detalhes", "Tarefa", new { id = tarefa.Id })">@tarefa.Titulo</a></td>

            <td>@tarefa.CriadaEm.ToShortDateString()</td>

            @{
            var urgente = (tarefa.EntregarAte <= DateTime.Now) ? "label label-important" : null;
            var proximo = (DateTime.Now.AddDays(3) >= tarefa.EntregarAte) ? "label label-warning" : null;
            var alerta = urgente ?? proximo ?? "";
            }
            <td><span class="@alerta" style="margin: -2px">@tarefa.EntregarAte.ToShortDateString()</span></td>

            <td>@tarefa.Peso</td>
            <td>@tarefa.Prioridade.Nome</td>
        </tr>
        }
    }
</table>
