@model ROMProjetos.Models.Projeto

@{
    ViewBag.Title = "Detalhes";
}

<h2>@Model.Nome <small>@Model.Interessado</small></h2>

<fieldset>
    <legend>Dados do projeto</legend>

    <div class="muted">
        @Html.DisplayNameFor(model => model.Descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <div class="muted">
        @Html.DisplayNameFor(model => model.DataInicio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataInicio)
    </div>

    <div class="muted">
        @Html.DisplayNameFor(model => model.DataFinal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataFinal)
    </div>

    <div class="muted">
        @Html.DisplayNameFor(model => model.Interessado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Interessado)
    </div>
</fieldset>
<div class="form-actions">
    <a href="@Url.Action("CriarTarefa", "Tarefa", new { idProjeto = Model.Id })" class="btn btn-primary btn-small">Nova Tarefa</a>
    <a href="@Url.Action("Index", "Tarefa", new { idProjeto = Model.Id })" class="btn btn-success btn-small">Listar Tarefas</a>
</div>
