@model IEnumerable<ROMProjetos.Models.Projeto>

@{
    ViewBag.Title = "Lista de Projetos";
}

<h2>Lista de Projetos</h2>

<p>
    @Html.ActionLink("Novo Projeto", "Cadastrar", null, new { @Class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interessado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interessado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Nome)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }) |
            <a href="@Url.Action("CriarTarefa", "Tarefa", new { idProjeto = item.Id })">Nova Tarefa</a>
            </td>
        </tr>
    }

</table>
